@font-face {
  font-family: "Arial-MT";
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  background: url("../assets/img/bg.jpg") center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 250px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.play-list {
  text-align: left;
  align-self: flex-start;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #c5b358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover,
.play-item:hover::after {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active,
.play-item:active::after {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/icons/play.svg");
}

.pause {
  background-image: url("../assets/icons/pause.svg");
}

.play-prev {
  background-image: url("../assets/icons/play-prev.svg");
}

.play-next {
  background-image: url("../assets/icons/play-next.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #ffffff;
  opacity: 0.6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/icons/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/icons/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: "Arial-MT", sans-serif;
  font-size: 100px;
  letter-spacing: -4px;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #ffffff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #ffffff;
  opacity: 0.6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
  position: relative;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/icons/reload.svg");
}

.quote {
  min-height: 32px;
  line-height: 25px;
  width: 80%;
}

.author {
  min-height: 20px;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}

.progress-container {
  gap: 5px;
  display: flex;
  align-items: center;
  width: 100%;
}

.timeline {
  background: white;
  width: 100%;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 10px 0 #0008;
  height: 6px;
}

.progress {
  background: rgb(127, 198, 240);
  width: 0%;
  height: 100%;
  transition: 0.25s;
}


.volume {
  background-image: url('../assets/icons/high-sound.svg');
}

.volume-mute {
  background-image: url('../assets/icons/mute-sound.svg');
}

.volume-container {
  width: 52%;
  display: flex;
  position: relative;
}

.volume-button {
  margin-right: auto;
}

.volume-slider {
  position: absolute;
  left: 33px;
  top: 13px;
  width: 0;
  height: 6px;
  background: white;
  box-shadow: 0 0 20px #000a;
  transition: 0.25s;
}

.volume-slider .volume-percentage {
  background: rgb(127, 198, 240);
  height: 100%;
  width: 75%;
}

.volume-container:hover .volume-slider  {
  left: 35px;
  width: 96px;
}

.play-item::after {
  content: "";
  position: absolute;
  right: 0;
  top: 4px;
  width: 20px;
  height: 20px;
  background-image: url('../assets/icons/play.svg');
  background-size: 20px;
}

.item-active::after {
  content: "";
  position: absolute;
  right: 0;
  top: 4px;
  width: 20px;
  height: 20px;
  background-image: url('../assets/icons/pause.svg');
  background-size: 20px;
}

.footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.settings {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
}

.btn-settings {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url('../assets/icons/settings.svg');
}

.btn-todo {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url('../assets/icons/todo.svg');
}

.todo {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
}

.todo__container--hide {
  display: none;
}

.todo__container {
  position: fixed;
  bottom: 66px;
  right: 13px;
  padding: 19px 0;
  background-color: #fff;
  color: #000000;
  width: 350px;
}

.todo__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  counter-reset: todos;
}

.todo__list li {
  padding: 5px 35px;
  width: 100%;
  text-align: left;
  position: relative;
}

.remove-task {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  cursor: pointer;
  border: none;
  right: 5px;
  background-image: url('../assets/icons/check.svg');
  background-color: transparent
}

.todo__list li::before {
  counter-increment: todos;
  content: counter(todos);
  padding: 6px 10px;
  margin-left: -30px;
}

.todo__list .is-important {
  font-weight: bold;
  color: #ffffff;
  background-color: #f98f2d;
}

.todo__container .popup-title {
  margin-bottom: 10px;
}

.todo__controls {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  padding: 5px 19px;
}

.todo__controls button {
  border: none;
  cursor: pointer;
}

.input-label {
  margin: 0 0 4px;
  color: rgb(8, 154, 238);
  grid-column: 1/-1;
  transition: 2s;
}

.input-label.is-important {
  color: #f98f2d;
}

.todo-input {
  border: none;
  padding: 10px 12px;
  border-radius: 4px;
  outline: 1px solid rgb(127, 198, 240);
  transition: 2s;
}

.todo-input.is-important {
  outline: 1px solid #f98f2d;
}

.todo-priority {
  margin-right: 10px;
}

.todo-priority svg {
  color: rgb(127, 198, 240);
  width: 29px;
  height: 29px;
  transition: 2s;
}

.todo-priority.is-important {
  transition: 2s;
  transform: rotate(360deg);
}

.todo-priority.is-important svg {
  color: #f98f2d;
}

.todo-add {
  margin-top: 12px;
  color: #ffffff;
  background-color: rgb(127, 198, 240);
  grid-column: 1/-1;
  padding: 10px;
}

.todo-input.is-important:focus {
  outline: 2px solid #f98f2d;
}

.todo-input:focus{
  outline: 2px solid rgb(119, 201, 248);
  outline-offset: 0;
}

.todo-priority:hover {
  background-color: #edf1fd;
}

.todo-priority:active {
  background-color: #e3eafc;
  opacity: 0.5;
}

.todo-add:hover {
  background-color: rgb(43, 173, 248);
}

.todo-add:active {
  opacity: 0.5;
}

.popup-container {
  position: fixed;
  bottom: 66px;
  left: 13px;
  padding: 19px;
  background-color: #fff;
  color: #000000;
  width: 350px;
}

.popup-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.popup-container--hide {
  display: none;
}

.popup-button {
  position: absolute;
  top: 15px;
  right: 13px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  background-image: url('../assets/icons/icon-cross.svg');
  border: none;
  outline: none;
  cursor: pointer;
}

.popup-button:hover {
  opacity: 0.7;
}

.popup-button:active {
  opacity: 0.3;
}

.popup-language {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switcher__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.switcher__controls:hover {
  cursor: pointer;
}

.language-switcher {
  border-radius: 30px;
  display: flex;
  gap: 10px;
  width: 200px;
  position: relative;
}

.switcher__controls {
  outline: 1px solid rgb(127, 198, 240);
  padding: 5px;
}

.switcher__controls--language {
  width: 50%;
}

.switcher__controls--image {
  width: 28%;
}

.switcher__controls--radio {
  border-radius: 30px;
}

.switcher__input:checked + .switcher__controls {
  background-color: rgb(127, 198, 240);
  color:#ffffff;
}

.popup__image {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.image-switcher {
  display: flex;
  justify-content: space-evenly;
}

.image-tags {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.popup__blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.popup__subtitle--blocks,
.popup__subtitle--tags {
  grid-column: 1/-1;
}
